body {
    background-color: #EFF5F5;
}

hr {
    border-style: dotted none none none;
    width: 3%;
    border-color: #EB6440;
    border-width: 5px
}

h1 {
    color: #497174;
}

h3 {
    color: #497174;
}